<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>员工信息管理</title>
</head>
<body>

<!-- 拿到后台定义的key去取值 -->
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<table class="table table-hover table-condensed">
    <legend>
        <strong>员工列表</strong>
    </legend>

    <div><a class="btn btn-primary" href="/employee/create" role="button">新增员工</a></div>

    <thead>
    <tr>
        <th>员工编号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>出生时间</th>
        <th>管理</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <th scope="row" th:text="${employee.employeeId}"></th>
        <td th:text="${employee.fullName}"></td>
        <td th:text="${employee.gender}"></td>
        <td th:text="${employee.birthDate}"></td>
        <td><a class="btn btn-danger" th:href="@{/employee/delete/{employeeId}(employeeId=${employee.employeeId})}">删除</a></td>
        <td><a class="btn btn-danger" th:href="@{/employee/update/{employeeId}(employeeId=${employee.employeeId})}">修改</a></td>
    </tr>
    </tbody>
</table>


</body>



</html>